<fieldset>
  <legend>
    <%= t('issue_open_date.required') %>
  </legend>

  <h4><%= t 'issue_open_date.freezed_statuses' %></h4>
  <ul class="inline-checkboxes">
    <% IssueStatus.find_each do |status| %>
      <li>
        <%= check_box_tag 'settings[freezed_statuses][]', status.id,
                          @settings['freezed_statuses'].include?(status.id.to_s),
                          id: "freezed-#{status.id}"
        %>
        <%= label_tag "freezed-#{status.id}", status.name %>
      </li>

    <% end %>
  </ul>
  <h4><%= t 'issue_open_date.open_status' %></h4>
  <ul class="inline-checkboxes">
    <% IssueStatus.find_each do |status| %>
      <li>
        <%= radio_button_tag 'settings[open_status]', status.id,
                             @settings['open_status'] == status.id.to_s,
                             id: "open-#{status.id}"
        %>
        <%= label_tag "open-#{status.id}", status.name %>
      </li>
    <% end %>
  </ul>
</fieldset>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'issue_open_date', plugin: 'redmine_issue_open_date' %>
<% end %>
